@mixin adaptive($media){
  @if $media == smart{
    @media only screen and (max-width: 480px) {@content}
  }

  @else if $media == smartHorizon{
    @media only screen and (min-width: 481px) and (max-width: 1024px) and (min-height: 320px) and (max-height: 434px){@content}
  }

  @else if $media == tablet{
    @media only screen and (min-width: 481px) and (max-width: 1024px) and (min-height: 435px) {@content}
  }

  @else if $media = pc{
    @media only screen and (min-width: 1025px) {@content}
  }
}

body::before{
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  /* background: url(); */
  background: url(../../www/css/images/bg.png) left top repeat;
  filter: blur(3px);
}


@include adaptive(smart){

  #secundomer{
    position: absolute;
    left: 110px;
    top: -40px;
    width: 180px;
    span{
      display: inline-block;
      position: relative;
      margin-left: -15px;
    }
  }

  .content{
    width: auto;
    height: 86vh;
    margin: 0px auto;
    margin-top: 70px;
    position: relative;
    //background: url(../../www/css/images/bg.png) left top repeat;
    border-radius: 42px;
  }
  span{
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    visibility: visible;
    padding: 7px;
    transition: opacity 1.5s ease-in-out;
  }

  .spanCheck{
    opacity: 0;
    background: rgb(64, 239, 61);
    padding: 7px;
    height: 10px;
    border-radius: 4px;
  }

  .spanNone{
    display: none;
  }

  .spanError{
    background: rgb(238, 41, 41);
    padding: 7px;
    height: 10px;
    border-radius: 4px;

  }
  .spanErrorNone{
    transition: background 1.5s ease-in-out;
    border-radius: 4px;
    background: none;
  }

  #info {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nickname {
    margin-bottom: 10px;
  }

  .signature {
    font-size: 55px;
    font-weight: lighter;
    position: relative;
    margin-top: 60px;
    & p{
      display: inline;
      font-size: 65px;
      font-weight: bold;
    }
  }

  #repeat{
    font-size: 60px;
    margin-top: 60px;
    background: lightblue;
  }

  #ok{
    font-size: 60px;
    margin-top: 40px;
    background: lightgreen;
  }
}

@include adaptive(smartHorizon){

  #secundomer{
    position: absolute;
    left: 40px;
    top: 40vh;
    width: auto;
    color: rgba(173, 79, 21, .5);
    span{
      display: inline-block;
      position: relative;
      margin-left: -15px;
      font-size: 19vw;
      font-weight: 200;
    }
  }

  .content{
    width: auto;
    height: 95vh;
    margin: 0px auto;
    position: relative;
    //background: url(../../www/css/images/bg.png) left top repeat;
    border-radius: 42px;
  }
  span{
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    visibility: visible;
    padding: 7px;
    transition: opacity 1.5s ease-in-out;
  }

  .spanCheck{
    opacity: 0;
    background: rgb(64, 239, 61);
    padding: 7px;
    height: 10px;
    border-radius: 4px;
  }

  .spanNone{
    display: none;
  }

  .spanError{
    background: rgb(238, 41, 41);
    padding: 7px;
    height: 10px;
    border-radius: 4px;

  }
  .spanErrorNone{
    transition: background 1.5s ease-in-out;
    border-radius: 4px;
    background: none;
  }

  #info {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nickname {
    margin-bottom: 10px;
  }

  .signature {
    font-size: 55px;
    font-weight: lighter;
    position: relative;
    margin-top: 60px;
    & p{
      display: inline;
      font-size: 65px;
      font-weight: bold;
    }
  }

  #repeat{
    font-size: 60px;
    margin-top: 60px;
    background: lightblue;
  }

  #ok{
    font-size: 60px;
    margin-top: 40px;
    background: lightgreen;
  }
}


@include adaptive(tablet){
  #secundomer{
    position: absolute;
    left: 250px;
    top: -50px;
    width: 180px;
    span{
      display: inline-block;
      position: relative;
      margin-left: -15px;
    }
  }

  .content{
    width: auto;
    height: 86vh;
    margin: 40px auto;
    margin-top: 90px;
    position: relative;
    //background: url(../../www/css/images/bg.png) left top repeat;
    border-radius: 42px;
    box-shadow: 0px 0px 10px 2px rgba(1, 1, 1, 0.5);
  }
  span{
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    visibility: visible;
    padding: 7px;
    transition: opacity 1.5s ease-in-out;
  }

  .spanCheck{
    opacity: 0;
    background: rgb(64, 239, 61);
    padding: 7px;
    height: 10px;
    border-radius: 4px;
  }

  .spanNone{
    display: none;
  }

  .spanError{
    background: rgb(238, 41, 41);
    padding: 7px;
    height: 10px;
    border-radius: 4px;

  }
  .spanErrorNone{
    transition: background 1.5s ease-in-out;
    border-radius: 4px;
    background: none;
  }

  #info {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nickname {
    margin-bottom: 10px;
  }

  .signature {
    font-size: 55px;
    font-weight: lighter;
    position: relative;
    margin-top: 60px;
    & p{
      display: inline;
      font-size: 65px;
      font-weight: bold;
    }
  }

  #repeat{
    font-size: 60px;
    margin-top: 60px;
    background: lightblue;
  }

  #ok{
    font-size: 60px;
    margin-top: 40px;
    background: lightgreen;
  }
}

@include adaptive(pc) {

  #secundomer {
    position: absolute;
    left: 250px;
    top: -30px;
    width: 180px;

    span {
      display: inline-block;
      position: relative;
      margin-left: -15px;
    }
  }

  .content {
    width: 40vw;
    height: 80vh;
    margin: 40px auto;
    position: relative;
    //background: url(../../www/css/images/bg.png) left top repeat;
    border-radius: 42px;
    box-shadow: 0px 0px 10px 2px rgba(1, 1, 1, 0.5);
  }
  span {
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    visibility: visible;
    padding: 7px;
    transition: opacity 1.5s ease-in-out;
  }

  .spanCheck {
    opacity: 0;
    background: rgb(64, 239, 61);
    padding: 7px;
    height: 10px;
    border-radius: 4px;
  }

  .spanNone {
    display: none;
  }

  .spanError {
    background: rgb(238, 41, 41);
    padding: 7px;
    height: 10px;
    border-radius: 4px;

  }
  .spanErrorNone {
    transition: background 1.5s ease-in-out;
    border-radius: 4px;
    background: none;
  }

  #info {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nickname {
    margin-bottom: 10px;
    margin-top: 4vh;
  }

  .signature {
    font-size: 22px;
    font-weight: lighter;
    position: relative;

    & p {
      display: inline;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .position{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #repeat{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
  }

  #ok{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
  }
}

