* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  outline: 0; }

body::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  /* background: url(); */
  background: url(images/bg.png) left top repeat;
  filter: blur(3px); }

@media only screen and (min-width: 1025px) {
  .content {
    min-width: 400px;
    width: 710px;
    height: 600px;
    margin: 30px auto;
    background: url(images/bg.png) left top repeat;
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 42px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5); }
    .content form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    .content form input {
      display: block;
      font-size: 20px;
      border: 3px solid black;
      width: 100px;
      height: 70px;
      cursor: pointer;
      float: right; }
      .content form input:active {
        background: lightsteelblue; }
      .content form input:hover {
        background: lightcoral; }
    .content .info {
      width: 360px;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .content .info .place {
        font-size: 40px;
        font-weight: bold;
        color: black; }
        .content .info .place span {
          font-size: 26px; }
        .content .info .place span {
          font-size: 26px; }
      .content .info .nickname {
        font-size: 40px;
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-bottom: 70px; }
      .content .info .play__button {
        font-size: 60px;
        font-weight: bold;
        color: black;
        margin-top: 25px;
        margin-bottom: 20px;
        position: relative;
        background: lightgreen;
        cursor: pointer;
        color: rebeccapurple;
        z-index: 1; }
        .content .info .play__button:hover {
          color: lightgreen;
          background: lightskyblue; }
          .content .info .play__button:hover::before, .content .info .play__button:hover::after {
            border-left: 280px solid lightskyblue; }
        .content .info .play__button::before, .content .info .play__button::after {
          content: '';
          position: absolute;
          left: -30px;
          top: -81px;
          border: 115px solid transparent;
          border-left: 280px solid lightgreen;
          z-index: -1; }
        .content .info .play__button::after {
          border-left: 50px solid white;
          left: -30px; }
      .content .info .leaderbord {
        font-size: 40px;
        font-weight: bold;
        color: grey;
        margin-top: 130px; }
  .content {
    min-width: 400px;
    width: 710px;
    height: 600px;
    background: url(images/bg.png) left top repeat;
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 42px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .content a {
      border: 1px solid grey;
      text-decoration: none;
      padding: 10px;
      font-size: 36px;
      width: 30vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: grey;
      color: black;
      box-shadow: 0 0 6px 1px #190505; }
      .content a:hover {
        box-shadow: 0 0 25px 3px rgba(51, 204, 0, 0.8); }
      .content a:active {
        color: darkgrey; }
  #enot {
    position: absolute;
    top: 480px;
    left: 260px; }
  #enot input[type="submit"] {
    font-size: 30px;
    background: url(https://simplename.pp.ua/mvcgame/www/css/images/coins.png) no-repeat center center;
    background-size: contain;
    width: 90px;
    height: 90px; }
  #enot input[type="submit"]:hover {
    box-shadow: inset 1px 1px 35px rgba(255, 150, 0, 0.4);
    border-radius: 31px; } }

#nickname {
  font-size: 26px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 25px 3px rgba(120, 120, 120, 0.8); }
  #nickname:hover {
    box-shadow: 0 0 25px 3px rgba(51, 204, 0, 0.8); }

.play__button {
  font-size: 70px;
  font-weight: bold;
  color: black;
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
  background: lightgreen;
  cursor: pointer;
  color: rebeccapurple;
  z-index: 1; }
  .play__button:hover {
    color: lightgreen;
    background: lightskyblue; }
    .play__button:hover::before, .play__button:hover::after {
      border-left: 280px solid lightskyblue; }
  .play__button::before, .play__button::after {
    content: '';
    position: absolute;
    left: -30px;
    top: -81px;
    border: 115px solid transparent;
    border-left: 280px solid lightgreen;
    z-index: -1; }
  .play__button::after {
    border-left: 50px solid white;
    left: -30px; }

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .content {
    width: auto;
    height: auto;
    margin: 30px auto;
    background: url(images/bg.png) left top repeat;
    border-radius: 42px;
    box-shadow: 0px 0px 10px 2px rgba(1, 1, 1, 0.5); }
    .content form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    .content form input {
      display: block;
      font-size: 20px;
      border: 1px solid black;
      width: 80px;
      height: 50px;
      cursor: pointer;
      float: right; }
      .content form input:active {
        background: lightsteelblue; }
    .content .info {
      min-width: 481px;
      width: auto;
      border: 1px solid black;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .content .info .place {
        font-size: 60px;
        font-weight: bold;
        color: black; }
        .content .info .place span {
          font-size: 26px; }
      .content .info .nickname {
        font-size: 50px;
        font-weight: bold;
        color: black;
        margin-top: 40px;
        margin-bottom: 50px; }
      .content .info .play__button {
        font-size: 70px;
        font-weight: bold;
        color: black;
        margin-top: 75px;
        margin-bottom: 80px;
        position: relative;
        background: lightgreen;
        cursor: pointer;
        z-index: 1; }
        .content .info .play__button::before, .content .info .play__button::after {
          content: '';
          position: absolute;
          left: -20px;
          top: -54px;
          border: 95px solid transparent;
          border-left: 310px solid lightgreen;
          z-index: -1; }
        .content .info .play__button::after {
          border-left: 60px solid white;
          left: -20px; }
      .content .info .leaderbord {
        font-size: 60px;
        font-weight: bold;
        color: black;
        margin-top: 50px;
        border: 1px solid black; }
  .content {
    width: auto;
    height: 85vh;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url(images/bg.png) left top repeat;
    border-radius: 42px;
    box-shadow: 0px 0px 10px 2px rgba(1, 1, 1, 0.5); }
    .content a {
      border: 1px solid grey;
      text-decoration: none;
      padding: 10px;
      font-size: 36px;
      width: 30vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: grey;
      color: black;
      box-shadow: 0 0 6px 3px #190505; }
      .content a:hover {
        box-shadow: 0 0 25px 3px rgba(51, 204, 0, 0.8); }
      .content a:active {
        color: darkgrey; } }

@media only screen and (max-width: 480px) {
  .content {
    width: auto;
    height: auto;
    margin: 0px auto;
    background: url(images/bg.png) left top repeat; }
    .content form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    .content form input {
      display: block;
      font-size: 20px;
      border: 1px solid black;
      width: 80px;
      height: 50px;
      cursor: pointer;
      float: right; }
      .content form input:active {
        background: lightsteelblue; }
    .content .info {
      max-width: 480px;
      width: auto;
      border: 1px solid black;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .content .info .place {
        font-size: 40px;
        font-weight: bold;
        color: black; }
        .content .info .place span {
          font-size: 26px; }
      .content .info .nickname {
        font-size: 50px;
        font-weight: bold;
        color: black;
        margin-top: 40px;
        margin-bottom: 50px; }
      .content .info .play__button {
        font-size: 70px;
        font-weight: bold;
        color: black;
        margin-bottom: 60px;
        position: relative;
        background: transparent;
        cursor: pointer;
        width: 240px;
        height: 190px;
        overflow: hidden;
        z-index: 1; }
        .content .info .play__button::before, .content .info .play__button::after {
          content: '';
          position: absolute;
          left: 0px;
          top: -3px;
          border: 95px solid transparent;
          border-left: 240px solid lightgreen;
          z-index: -1; }
        .content .info .play__button::after {
          border-left: 50px solid white;
          left: 0px; }
      .content .info .leaderbord {
        font-size: 50px;
        font-weight: bold;
        color: black;
        margin-top: 50px;
        border: 1px solid black; }
  .content {
    width: auto;
    height: 90vh;
    background: url(images/bg.png) left top repeat;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .content a {
      border: 1px solid grey;
      text-decoration: none;
      padding: 10px;
      font-size: 36px;
      width: 30vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: grey;
      color: black;
      box-shadow: 0 0 6px 3px #190505; }
      .content a:hover {
        box-shadow: 0 0 25px 3px rgba(51, 204, 0, 0.8); }
      .content a:active {
        color: darkgrey; } }

@media only screen and (min-width: 481px) and (max-width: 1024px) and (min-height: 320px) and (max-height: 414px) {
  .content {
    width: auto;
    height: 97vh;
    background: url(images/bg.png) left top repeat;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .content a {
      border: 1px solid grey;
      text-decoration: none;
      padding: 10px;
      font-size: 36px;
      width: 30vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: grey;
      color: black;
      box-shadow: 0 0 6px 3px #190505; }
      .content a:hover {
        box-shadow: 0 0 25px 3px rgba(51, 204, 0, 0.8); }
      .content a:active {
        color: darkgrey; }
    .content .play__button {
      font-size: 60px;
      font-weight: bold;
      color: black;
      margin-top: 25px;
      margin-bottom: 20px;
      position: relative;
      background: lightgreen;
      cursor: pointer;
      color: rebeccapurple;
      z-index: 1; }
      .content .play__button::before, .content .play__button::after {
        content: '';
        position: absolute;
        left: 10px;
        top: -39px;
        border: 75px solid transparent;
        border-left: 210px solid lightgreen;
        z-index: -1; }
      .content .play__button::after {
        border-left: 70px solid white;
        left: 10px; } }
